<!DOCTYPE html> 
<html>
  
    {% include head.html %}

    <body>


    <div class="title"><a href='/'>Ben Pullman</a></div>

    <div id="background-image">&nbsp;</div>


    <div id="container">
        <div id="navbar">
            <div id="menu">
                {% for page in site.pages offset:4 %}
                    <script>console.log("{{page.title}}")</script>
                    {% if page.title %}
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a><br>
                    {% endif %}
                {% endfor %}
            </div>
            <br><span class="smalltext">Copyright 2015 Ben Pullman</span><br>
        </div>
        <div id="content">
            {{ content }}
        </div>
    </div>

    <footer>
           
    </footer>


    </body>

</html>